body {
  background-color: #232323;
}

.square {
  border-radius: 5px;
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#container {
  margin: 0 auto;
  max-width: 600px;
}